.article__aboutMe {
    margin-left: 0;
}

.article__aboutMeMore {
    margin: 0;
    background-color: rgb(249, 183, 96);
    padding: 20px 10px;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
}

.article__image {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 400px;
    margin: 40px auto;
    display: block;
    object-fit: cover;
    object-position: center;
}

.section__tittle {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 23px;
    font-weight: 700;
    color: #fff;
    text-decoration: overline wavy rgb(65, 140, 239);
    text-transform: uppercase;
}