.grid__gallery {
    display: grid;
    grid-gap: 11px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "hd hd"
        "hd hd"
        "ft ft"
        "ft ft"
    ;
}

@media (max-width: 767px) {
    .grid__gallery {
        display: flex;
        flex-wrap: wrap;
    }
}

.grid__item {
    display: grid;
    max-width: 300px;
    max-height: 300px;
    grid-row-gap: 10px;
    grid-column-gap: 20px;

}

.grid__item--header {
    display: grid;
    grid-area: hd;
    align-self: center;
    justify-self: center;
}

@media (max-width:767px) {
    .grid__item--header {
        max-height: 200px;
        max-width: 200px;
    }
}

.grid__item--footer {
    display: grid;
    grid-area: ft;
    align-self: center;
    justify-self: center;
}

@media (max-width:767px) {
    .grid__item--footer {
        max-height: 200px;
        max-width: 200px;
    }
}
