.grid__gallery {
    display: grid;
    grid-gap: 11px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "hd hd"
        "hd hd"
        "ft ft"
        "ft ft"
    ;
}

.grid__item {
    display: grid;
    max-width: 300px;
    max-height: 300px;
grid-row-gap: 10px;
grid-column-gap: 20px;

}

.grid__item--header {
    display: grid;
    grid-area: hd;
    align-self: center;
    justify-self: center;
}

.grid__item--footer {
    display: grid;
    grid-area: ft;
    align-self: center;
    justify-self: center;
}

.grid__image {
    display: grid;

}